asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.0.3
django-environ==0.8.1
idna==3.3
Pillow==9.0.1
razorpay==1.3.0
requests==2.27.1
simplejson==3.17.6
sqlparse==0.4.2
urllib3==1.26.9
